<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>

<div class="container">
    <header>
        <span th:replace="~{home :: navbar}"></span>
        <div class="text-center my-4">
            <h1 >Détails de l'étudiant</h1>
        </div>

    </header>

    <main>
<div>
        <p>Nom : <span th:text="${myStudent.getLastName()}"></span></p>
        <p>Prenom : <span th:text="${myStudent.getFirstName()}"></span></p>
        <p>Age : <span th:text="${myStudent.getAge()}"></span></p>
        <p>Email : <span th:text="${myStudent.getEmail()}"></span></p>

</div>

        <div>
        <a class="btn btn-secondary" th:href="@{/list}">retour</a>
        </div>
<!--        <form th:action="@{/delete}" th:object="${Student}" method="">-->
<!--            <button type="submit" class="btn btn-danger" >Supprimer</button>-->
<!--        </form>-->

        <div>
            <a class="btn btn-danger" th:href="@{'/delete/' + ${myStudent.id}}">Supprimer</a>
        </div>
        <div>
            <a class="btn btn-info" th:href="@{/update(studentId=${myStudent.id})}">Modifier</a>
        </div>
    </main>
</div>


</body>
</html>