<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste etudiants</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
<body>
<div container>
<header>
    <span th:replace="~{home :: navbar}"></span>
    <div class="text-center my-4">
        <h1>Liste des étudiants</h1>
    </div>
</header>
<main>
    <div class="m-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">LastName</th>
                <th scope="col">FirstName</th>
                <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody th:if="${students != null}">
            <tr th:each="s : ${students}">
                <th scope="row"></th>
                <td ><span th:text="${s.getLastName()}"></span></td>
                <td ><span th:text="${s.getFirstName()}"></span></td>
                <td><a class="btn btn-outline-info" th:href="@{details/{id}(id=${s.id})}">Détails</a></td>
            </tr>
            </tbody>
                <h2 th:if="${students == null}">Aucun résultat</h2>
        </table>
    </div>

</main>

</div>
</body>
</html>