@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 2;
  font-family: Roboto;
}

body {
  --primary: #ffee58;
}

h1,
button {
  font-family: Knewave;
  background-color: var(--primary);
}

h1 {
  margin-bottom: 50px;
  text-align: center;
}

.wrapper {
  padding: 20px;
}

input,
button {
  width: 100%;
  margin-bottom: 20px;
}

.interpretation {
  margin-bottom: 70px;
}

ul {
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  form,
  .interpretation,
  ul {
    max-width: 400px;
    margin: auto;
  }

  .interpretation {
    margin-bottom: 70px;
  }

  input,
  button {
    max-width: 100px;
    margin-right: 20px;
  }
}
