<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détails</title>
</head>
<body>
<main>
    <h2>Ma Todo</h2>
    <hr>
    <p>Titre : <span th:text="${name}"></span></p>

    <p>Description : <span th:text="${description}"></span></p>

    <p>Status : <span th:text="${status}"></span></p>


    <!--    <p th:if="${isDone == true}">Fini : <span th:if="${isDone == true}">Termine !!!</span></p>-->
<!--    <h3 th:if="${isDone == false}">Fini : </h3><span th:if="${isDone == false}">A finir !!!</span>-->


</main>

</body>
</html>