:root {
    --text-body: 1rem;
}

@media screen and (min-width: 768px) {
    :root {
        --text-body: 1.2rem;
    }
}

.black-box {
    background-color: black;
    color: white;
    width: min(80%, 800px);
    margin: auto;
    padding: max(3vw, 0.5rem);
}

.black-box > p {
    /* font-size: var(--text-body); */
    font-size: clamp(1rem, 2vw, 2rem);
}