<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <span th:replace="~{home :: bootstrapImports}"></span>
    <title>Inscription</title>
</head>
<body>

<header class="container mt-3">
    <span th:replace="~{home :: navbar}"></span>
    <div class="text-center my-4">
        <h1>Formulaire d'inscription</h1>
    </div>

</header>

<main class="container mt-3">
    <form th:action="@{/add}" th:object="${Student}" method="post" class="needs-validation" >

        <div class="form-group">
            <input type="hidden" class="form-control" id="id" th:field="*{id}">
        </div>

        <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" id="lastName" placeholder="Nom"  th:field="*{lastName}" >
            <div class="invalid-feedback">
                Veuillez fournir un nom.
            </div>
        </div>
        <div class="form-group">
            <label for="firstName">Prénom</label>
            <input type="text" class="form-control" id="firstName" placeholder="Prénom" th:field="*{firstName}">
            <div class="invalid-feedback">
                Veuillez fournir un prénom.
            </div>
        </div>
        <div class="form-group">
            <label for="age">Âge</label>
            <input type="number" class="form-control" id="age" placeholder="Âge" th:field="*{age}">
            <div class="invalid-feedback">
                Veuillez fournir un âge valide.
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" th:field="*{email}" >
            <div class="invalid-feedback">
                Veuillez fournir une adresse email valide.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Valider l'inscription</button>
        <a th:href="@{/}" class="btn btn-danger ml-2">Annuler l'inscription</a>
    </form>
</main>

</body>
</html>
